tensorflow==2.14.0
spacy==3.4.4
transformers==4.30.0
fastapi==0.109.0
uvicorn==0.27.0.post1
httpx==0.26.0
torch
torchvision
torchaudio
scikit-learn
numpy==1.23.5
tqdm
nlpaug==1.1.11
nltk==3.6.7
textblob==0.17.1
transformers[torch]